:root {
  --first-color: #000000;
  --first-color-beta: #213265;
  --second-color: #7187c6;
  --third-color: #374a85;
  --modal-color: #c017a4;
  --instruction-bg: #47311e;
  --font: "Exo", 600, sans-serif;
  --border-color: #dac813;
  --count-font: "Anton", sans-serif;
  --modal-bg: #9da5b9;
  --button-bg-hover: #b5d5ef;
  --custom-cursor-2: url("./assets/cursor.cur"), auto;

  --font-scores: "Scores", sans-serif;
  --retro-font: "Retro", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* #app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: var(--custom-cursor-1);
}

button:hover,
a:hover,
.custom-element:hover {
  cursor: var(--custom-cursor-2);
}

@font-face {
  font-family: "Scores";
  src: url("./assets/SegaArcadeFont-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Retro";
  src: url("./assets/PressStart2P-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* .macondo-regular {
  font-family: "Macondo", cursive;
  font-weight: 600;
  font-style: normal;
  color: black;
} */

.aubrey-regular {
  font-family: "Aubrey", system-ui;
  font-weight: 400;
  font-style: normal;
}

.contador {
  font-weight: 600;
  font-family: "Macondo", "Lucida Sans Regular";
}
.ficha.selected {
  /* position: relative; */
  border: 2px solid rgba(0, 255, 0, 0.8); /* Borde brillante verde */
  background: radial-gradient(
    circle,
    rgba(0, 255, 0, 0.2),
    rgba(0, 0, 0, 0.8)
  ); /* Fondo radiante */
  box-shadow:
    0 0 20px 5px rgba(0, 255, 0, 0.6),
    0 0 40px rgba(0, 255, 0, 0.4); /* Resplandor dinámico */
  transform: scale(1.025); /* Amplía ligeramente la ficha */
  animation: selectedGlow 1.5s infinite alternate; /* Efecto de brillo oscilante */
}

/* Animación de brillo oscilante */
@keyframes selectedGlow {
  from {
    box-shadow:
      0 0 15px rgba(0, 255, 0, 0.5),
      0 0 30px rgba(0, 255, 0, 0.3);
  }
  to {
    box-shadow:
      0 0 25px rgba(0, 255, 0, 0.8),
      0 0 50px rgba(0, 255, 0, 0.6);
  }
}
.ficha-images-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.ficha-img {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-in-out;
}

.ficha-img.hidden {
  opacity: 0;
}

.ficha.locked {
  /* position: relative;  */
  border: 2px solid rgba(255, 0, 255, 0.7);
  background: radial-gradient(
    circle,
    rgba(128, 0, 128, 0.8),
    rgba(0, 0, 0, 0.9)
  ); /* Fondo brillante oscuro */
  box-shadow:
    0 0 15px 5px rgba(255, 0, 255, 0.7),
    0 0 30px rgba(255, 0, 255, 0.5); /* Resplandor */
  transform: scale(1.1);
  opacity: 0.8;
  animation: pulse 2s infinite;
  pointer-events: none;
}

.ficha.locked::after {
  content: "";
  position: absolute;
  top: 5%;
  left: 5%;
  width: 100%;
  height: 100%;
  transform: translate(-10%, -10%);
  border-radius: 50%;
  background: rgba(255, 0, 255, 0.2);
  animation: glow 2s infinite;
}
@keyframes zoomInBackground {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 110%;
  }
}

/* Animación de pulso */
@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow:
      0 0 10px rgba(255, 0, 255, 0.5),
      0 0 20px rgba(255, 0, 255, 0.4);
  }
  50% {
    transform: scale(1.1);
    box-shadow:
      0 0 20px rgba(255, 0, 255, 0.7),
      0 0 40px rgba(255, 0, 255, 0.6);
  }
  100% {
    transform: scale(1);
    box-shadow:
      0 0 10px rgba(255, 0, 255, 0.5),
      0 0 20px rgba(255, 0, 255, 0.4);
  }
}
@keyframes pulseEnd {
  0% {
    transform: scale(1);
    box-shadow:
      0 0 10px rgba(231, 228, 49, 0.5),
      0 0 20px rgba(231, 228, 49, 0.5);
  }
  50% {
    transform: scale(1.1);
    box-shadow:
      0 0 20px rgba(231, 228, 49, 0.5),
      0 0 40px rgba(231, 228, 49, 0.5);
  }
  100% {
    transform: scale(1);
    box-shadow:
      0 0 10px rgba(231, 228, 49, 0.5),
      0 0 20px rgba(231, 228, 49, 0.5);
  }
}
/* Animación de resplandor */
@keyframes glow {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.2);
  }
  100% {
    opacity: 0.5;
    transform: scale(1);
  }
}
.ficha.endgame {
  pointer-events: none;
  border: 2px solid rgba(229, 224, 245, 0.7);
  background: radial-gradient(
    circle,
    rgba(229, 90, 123, 0.8),
    rgba(188, 20, 20, 0.9)
  ); /* Fondo brillante oscuro */
  box-shadow:
    0 0 15px 5px rgba(88, 29, 16, 0.7),
    0 0 30px rgba(108, 113, 51, 0.936); /* Resplandor */
  transform: scale(1.1);
  opacity: 1;
  animation: pulseEnd 2s infinite;
}
.ficha.endgame::after {
  content: "";
  position: absolute;
  top: 5%;
  left: 5%;
  width: 100%;
  height: 100%;
  transform: translate(-10%, -10%);
  border-radius: 50%;
  background: rgba(221, 238, 202, 0.156);
  animation: glow 2s infinite;
}

.home {
  width: 100%;
  height: 100dvh;
}

/*MOBILE*/ /*ultimo cambio 05-01 se paso de 480px a 599px - al momento no noto ningun error*/
